@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-custom">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" class="btn btn-custom">Primary</button>

<div class="progress">
    <div class="progress-bar bg-custom" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<span class="border border-custom"> ddcwecwecewcew</span>

<iframe width="450"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAIUBmsZeVN2Nr7yMpziY3XU1RPXqZZ1bk&q=Eiffel+Tower&zoom=18" allowfullscreen>
</iframe>

<iframe width="450"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAIUBmsZeVN2Nr7yMpziY3XU1RPXqZZ1bk&q=Eiffel+Tower&zoom=18" allowfullscreen>
</iframe>

<iframe width="450"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAIUBmsZeVN2Nr7yMpziY3XU1RPXqZZ1bk&q=Osiedle+Bolesława+Śmiałego+6A,60-682Poznań&zoom=14" allowfullscreen>
</iframe>
