@model  IEnumerable<OrganizeYourCourses.Models.Category>

        @{
            ViewData["Title"] = "Categories";
        }

        <h1>Categories</h1>

        
    @Html.DisplayFor(model => model.FirstOrDefault().MyPropertyString)

<div class="container-fluid" style="background-color: darkred;">

    @foreach (var item in Model)
    {
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    }

    yyyyiyiy
</div>


   
