@model IEnumerable<OrganizeYourCourses.Models.Category>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>


@foreach (var item in Model)
{
   
        <div class="d-flex justify-content-between hover-overlay" style= "margin:2%; border-bottom: solid 2px @(item.Color); @(item.Active ? "opacity : 1" : "opacity: 0.4")">
            <h4> @(item.Name) </h4>
            <div class="d-flex justify-content-end" style="width:15%">
                @using (Html.BeginForm("Active", "Categories", new { id = item.Id }, FormMethod.Post))
                {
                    <input class="btn btn-light btn-sm" type="submit" value=@(item.Active ? "Disable" : "Enable") />
                }
                @if (!item.IsPredefined)
                {
                    @using (Html.BeginForm("Remove", "Categories", new { id = item.Id }, FormMethod.Post))
                    {
                        <input class="btn btn-light btn-sm" type="submit" value=Remove>
                    }

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-light btn-sm" })



               }

            </div>
        </div>
    
}

<div class="d-flex justify-content-end" style="margin-top:5%">
    <a asp-action="Create" class="btn btn-light" style="margin-right:1%">Create new</a>
    <a asp-action="Index" class="btn btn-light">Back</a>
</div>
